body
{
  font-family: "Verdana", sans-serif;
}

#logo
{
  padding-left: 15px;
  font-family: "Rammetto One", sans-serif;
}

#q
{
  width: 300px;
}

#searchBox
{
  padding: 5px 0 20px 20px;
}

#submit
{
  padding-left: 5px;
  text-decoration: none;
}

#results
{
  position: absolute;
  left: 10px;
  width: 360px;
  height: 75%;
  padding-left: 20px;
  border: solid #000 1px;
  overflow: auto;
}

#info
{
  margin-left: 410px;
  margin-right: 10px;
}

.result
{
  padding: 5px 0 10px 5px;
}

#daily
{
  width: 500px;
  height: 150px;
}

#weekly
{
  width: 500px;
  height: 150px;
}
